.App {
  text-align: center;
}

header{
  background: #61dafb;
  height: 6vh;
}

footer{
  background: #61dafb;
  height: 6vh;
  
}

.App-link {
  color: #61dafb;
}

.info{
  
  
}
.search{
  border-radius: 6px;
}

